<!doctype html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="" content="" />

    <title>Stock Device</title>

    {% load static %}

    <link rel="stylesheet" href="Users/css/Login.css" type="text/css" />

    <link rel="stylesheet" href="{% static 'Users/Login.css' %}" type="text/css" />


</head>

<body>
    <div class="form-container">

        <form class="container">
            <div class="form-header">
                <h2>Stock Device Control</h2>
                <input type="text" placeholder="Usuario" class="con1" />
                <input type="password" placeholder="Contraseña" class="con2" />
                <div>
                    <input type="checkbox" class="check"><span class="txt">Recordar Usuario</span>
                </div>
                <input type="button" value="Inicio de sesion" class="btn" />

        </form>

        </div>
</body>

</html>